<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LoginExercise.Properties.Settings.Data_Mahasiswa_ConnectionString"
            connectionString="Data Source=PRAYOGASAPUTRA1;Initial Catalog=&quot;Data_Mahasiswa'&quot;;User ID=sa;Password=yoga123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>